<!DOCTYPE html>
<html>
<head>
    <title>Are you a Spider?</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='quiz.css') }}">
</head>
<body>
    <h1>Are you a Spider? 🕷</h1>
    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}
    <form method="post">
        <p>Select all images with spider webs:</p>
        <div class="captcha-grid">
            <label>
                <input type="checkbox" name="images" value="web1.jpg">
                <img src="{{ url_for('static', filename='spiderweb1.jpg') }}">
            </label>
            <label>
                <input type="checkbox" name="images" value="random1.jpg">
                <img src="{{ url_for('static', filename='fishnet1.jpeg') }}">
            </label>
            <label>
                <input type="checkbox" name="images" value="web2.jpg">
                <img src="{{ url_for('static', filename='spiderweb3.jpg') }}">
            </label>
            <label>
                <input type="checkbox" name="images" value="random2.jpg">
                <img src="{{ url_for('static', filename='fishnet2.avif') }}">
            </label>
            <label>
                <input type="checkbox" name="images" value="web3.jpg">
                <img src="{{ url_for('static', filename='spiderweb2.jpg') }}">
            </label>
            <label>
                <input type="checkbox" name="images" value="web4.jpg">
                <img src="{{ url_for('static', filename='spiderweb4.jpg') }}">
            </label>
        </div>
        <button type="submit">Verify</button>
    </form>
</body>
</html>
